.sign-up
  .sign-up__header this header is created by Mr.T
  .sign-up__breadcrumbs breadcrumbs will be set here

  .sign-up__main
    .done-signup-container 
      .done-signup-container__msg 会員登録が完了しました
      .done-signup-container__text ZOZOTOWNに登録いただき、ありがとうございます。
      .done-signup-container__text ご登録いただいた内容をメールにてお送りしましたので、ご確認ください。
      .done-signup-container__text この後もZOZOTOWNでのお買い物をどうぞお楽しみください。

  .sign-up__footer
