.sign-up
  = render partial: 'shared/header-logged-in'
  .sign-up__breadcrumbs breadcrumbs will be set here

  .sign-up__main
    .done-signup-container
      .done-signup-container__msg 会員登録が完了しました
      .done-signup-container__text ZOZOTOWNに登録いただき、ありがとうございます。
      .done-signup-container__text ご登録いただいた内容をメールにてお送りしましたので、ご確認ください。
      .done-signup-container__text この後もZOZOTOWNでのお買い物をどうぞお楽しみください。

      .addShop_container
        %p
          = link_to root_path, class: "link" do
            %span<> お買い物を開始する方
            はこちらへ ＞
        %p
          = link_to new_shop_path, class: "link" do
            %span<> ショップ登録する方
            はこちらへ ＞

  .sign-up__footer
