= render "/shared/header-logged-in.html.haml"
.sign-up__breadcrumbs breadcrumbs will be set here

.user-info-main
  .user-info-main__header
    %span
      = fa_icon "users", class: "user-info-icon"
    %span ZOZOID
    %span 様の登録情報

  .user-info-main__body.clearfix

    = render "/users/shared/sidebar.html.haml"

    .user-info-main__body-right
      .body-right__top
        .body-right__top-inside
          .body-right__top-inside__header
            .body-right__top-inside__header-index 会員情報登録
          .body-right__content
            %table
              %tr
                %th 基本情報
                %td
                  %p 
                    %span 苗字
                    %span 名前
                    %span (氏名カタカナ)
                  %p 性別
                  %p  
                    %span 2000
                    %span 年
                    %span 3
                    %span 月
                    %span 12
                    %span 日
                  %p
                  %p
                  %p




      .user-info-main__body-right__middle
      .user-info-main__body-right__bottom



.footer it will be grabbed form Mr.T
