= render "/shared/header-logged-in.html.haml"
.sign-up__breadcrumbs breadcrumbs will be set here

.user-info-main
  .user-info-main__header
    %span
      = fa_icon "users", class: "user-info-icon"
    %span ZOZOID
    %span 様の登録情報

  .user-info-main__body.clearfix

    = render "/users/shared/sidebar.html.haml"

    .user-info-main__body-right
      .body-right__top
        .body-right__top-inside
          .body-right__top-inside__header
            .body-right__top-inside__header-index パスワードの変更
          .body-right__top-inside__content
            %table
              %tr.basic-user-info__content-tr
                %th.basic-user-info__content-th2
                  %span 現在のパスワード
                  %span.user-info-hissu 必須
                %td.basic-user-info__content-td
                  .users-table-space
                    %p
                      %input{class: "basic-userpasswprd-input"}

              %tr.basic-user-info__content-tr
                %th.basic-user-info__content-th2
                  %span 現在のパスワード
                  %span.user-info-hissu 必須
                %td.basic-user-info__content-td
                  .users-table-space
                    %p.basic-userpasswprd-input-space
                      %input{class: "basic-userpasswprd-input"}
                    %p
                      %input{class: "basic-userpasswprd-input"}
                    %p.basic-useremail-input-msg ※ZOZOIDとは違う文字列で、半角大文字、小文字を正しく入力してください。

              %tr
                %th.basic-user-info__content-th
                %td.basic-user-info__content-td
                  .users-table-space.usesr-basic-info-bottom
                    %button{class: "user-basicinfo-btn"} 確認する

.footer it will be grabbed form Mr.T

