.wrapper
  .top__index#random-color
    .top__index__center
      .top__index__center__curcle
        .top__index__center__curcle__main
          .top__index__center__curcle__main--label#random-color 本日限定
          .top__index__center__curcle__time
            %span.top__index__center__curcle__time--last あと
            %span.top__index__center__curcle__time--count#timer
            %span.top__index__center__curcle__time--time 5時間
      .index__label 最大
      .index__label__price
        %span.index__label__price--value ¥7,000

      .index__label__content
        .index__label__content__text nano･universe,POLO RALPH LAUREN,Classical Elf,Catherine Cottage,SPADE,BARK MANHATTAN,JIGGYS SHOP,BLOOM ONLINE STORE,Histoire,Doula Doula,Le Creuset,POLO RALPH LAUREN CHILDRENSWEAR,ECHELLE Liberte,OandI/YOSOOU,RRL,Sawa a la mode,BAG IN THE DAY,MKT,ANDJ,QUEENHEAD,Delyle NOIR,BACK DROP,STYLEBLOCK,DEICY,Edit Sheen,BABYDOLL,TATRAS &amp; STRADA EST,miroir,OAKLAND,ONE DAY KMC,BETTY CLUB,Subciety,KMC DETAILS,KAPTEN&amp;SON,GOOD DEAL,Magine,Timberland,ACE,Jewelna Rose,darial,Dorry Doll/ Luxe brille,COULEURVARIE,aimoha,JS TRUNK &amp; Co,TokyoTshirt.st,Ressaca,con affetto,COLE HAAN
        .index__label__content__text 48ショップで1回ずつ使えるスペシャルクーポンがあります

      .index__action
        .index__action__row
          .index__action__coupon クーポン詳細
          .index__action__detail 対象商品はこちら
