.item-new{
  height: 100%;
  width: 100%;
  background: #DDDDDD;
}

.item-new-header{
  height: 100px;
  background: #323232;

  &__content{
    margin: 0 auto;
    width: 300px;
    height: 60px;
    padding-top: 15px;

    &__msg{
      text-align: center;
      color: #fff;
      font-family: monospace;
      font-weight: bold;
      font-size: 50px;
    }
  }
}

.item-new-main{
  background: #fff;
  width: 800px;
  margin: 70px auto 50px;

  &__header{
    height: 100px;
    border-bottom: 1px solid;
    border-color: rgb(128, 128, 128);

    &-msg{
      font-weight: 550;
      font-size: 25px;
      text-align: center;
      padding-top: 30px;
    }
  }

  &__selection{
    border-bottom: 1px solid;
    border-color: rgb(128, 128, 128);

    &-msg{
      margin: 30px auto;
      width: 720px;

      .image-hissu{
        width: 100px;
        font-weight: bold;
        height: 25px;

        &__image{
          font-size: 16px;
        }

        &__hissu{
          font-size: 12px;
          background-color: red;
          color: #fff;
          width: 30px;
          text-align: center;
          border-radius: 5px;
          margin: 2px 0 0 5px;
        }
      }
    }
  }
}

.maximau-upload{
  font-size: 12px;
  margin: 5px 0 5px 0;
}

.drop-zone{
  margin: 0 auto;
  background: #f5f5f5;
  width: 600px;
  height: 150px;

  &__msg{
    font-size: 14px;
    height: 40px;
    text-align: center;
    display: block;
    padding-top: 50px;
  }
}

.image-ul{
  display: flex;
  list-style-type:  none;
  margin: 20px 0 0 20px;
  .image-li__image{
    font-weight: bold;
    font-size: 16px;
  }

  .image-li__hissu{
    font-weight: bold;
    height: 20px;
    font-size: 12px;
    background-color: red;
    color: #fff;
    width: 30px;
    text-align: center;
    border-radius: 5px;
    margin: 2px 0 0 5px;
  }
}

.maximum-iamges-10{
  font-size: 12px;
  color: gray;
  margin: 10px  0 15px 20px;
}

.slice-upload-content{
  width: 500px;
  margin: 0 auto 20px;
  .mini-uploaders{
  width: 80px;
  height: 100px;
  background-color: lightgray;
  margin: 0 10px 10px 0;
  }
  .image-upload-zone{
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: grab;
  }
}

#preview.preview-zone{
  max-height: 200px;
  max-width: 600px;
  margin: 0 auto;
}

.into-box{
  width: 620px;
  height: 120px;
  padding-left: 40px;
}

.items-input{
  height: 50px;
  width: 500px;
  border-radius: 3px;
  bottom: 2px;
  float: right;
  margin-bottom: 40px;
  clear: both;
}

.item-name-ul{
  height: 25px;
}

.item-discription-input{
  height:170px;
  width: 480px;
  display: block;
  border-radius: 3px;
  border: 1px solid gray;
  margin: 0 auto;
  font-size: 14px;
  padding: 10px;
}

.disc-hissu{
  width: 160px;
  font-weight: bold;
  height: 25px;

  &__disc{
    font-size: 16px;
  }

  &__hissu{
    font-size: 12px;
    background-color: red;
    color: #fff;
    width: 30px;
    text-align: center;
    border-radius: 5px;
    margin: 2px 0 0 5px;
  }
}

select#item_shop_id,#item_brand_id,.item-shop-select{
  height: 45px;
  width: 200px;
  background-color: #fff;
  display: block;
  border-radius: 3px;
  border: 1px solid gray;
  margin-left: 150px;
}

select#item_parent_category_id,#item_child_category_id{
  height: 45px;
  width: 200px;
  background-color: #fff;
  display: block;
  border-radius: 3px;
  border: 1px solid gray;
  margin-left: 150px;
  position: relative;
  bottom: 30px;
}

.priceholder{
  margin-left: 130px;

  .enmark{
    font-size: 20px;
    padding: 10px 10px 0;
  }

  .item-price-input{
    height: 45px;
    width: 180px;
    background-color: #fff;
    display: block;
    border-radius: 3px;
    border: 1px solid gray;
    padding-left: 10px;
  }
}

.delivery-yn{
  width: 300px;
  height: 50px;
  float: right;
  position: relative;
  right: 260px;
  bottom: 30px;
  
  &__msg{
    font-size: 12px;
    color: gray;
  }
}

input.delivery-check[type=checkbox]{
  transform: scale(1.5);
}

.post-item-btn{
  width: 600px;
  height: 45px;
  background-color: orange;
  color: #fff;
  margin: 0 auto;
  display: block;
}

.item-return-btn{
  width: 385px;
  height: 30px;
  margin: 0 auto;
  background-color: gray;
  color: #fff;
  text-align: center;
  padding-top: 7px;
  margin-top: 10px;
}

