.item-new{
  height: 100%;
  width: 100%;
  background: #DDDDDD;
}

.item-new-header{
  height: 100px;
  background: #323232;

  &__content{
    margin: 0 auto;
    width: 200px;
    height: 60px;
    padding-top: 15px;

    &__msg{
      text-align: center;
      color: #fff;
      font-family: monospace;
      font-weight: bold;
      font-size: 50px;
    }
  }
}

.item-new-main{
  background: #fff;
  width: 800px;
  margin: 70px auto 50px;

  &__header{
    height: 100px;
    border-bottom: 1px solid;
    border-color: rgb(128, 128, 128);

    &-msg{
      font-weight: 550;
      font-size: 25px;
      text-align: center;
      padding-top: 30px;
    }
  }

  &__selection{
    border-bottom: 1px solid;
    border-color: rgb(128, 128, 128);

    &-msg{
      margin: 30px auto;
      width: 720px;

      .image-hissu{
        width: 100px;
        font-weight: bold;
        height: 25px;

        &__image{
          font-size: 16px;
        }

        &__hissu{
          font-size: 12px;
          background-color: red;
          color: #fff;
          width: 30px;
          text-align: center;
          border-radius: 5px;
          margin: 2px 0 0 5px;
        }
      }
    }
  }
}

.maximau-upload{
  font-size: 12px;
  margin: 5px 0 5px 0;
}

.drop-zone{
  margin: 0 auto;
  background: #f5f5f5;
  width: 600px;
  height: 150px;
  &__msg{
    font-size: 14px;
    height: 40px;
    text-align: center;
    display: block;
    padding-top: 50px;
  }
}

.dropzone-hidden{
  opacity: 0;
  width: 600px;
  height: 150px;
  position: relative;
  float: right;
  bottom: 150px;
  right: 60px;
}

.item-name-input{
  height:50px;
  width: 500px;
  display: block;
  position: relative;
  bottom: 70px;
  left: 110px;
  border-radius: 3px;
  border: 1px solid gray;
}

.item-name-ul{
  height: 25px;
}

.item-discription-input{
  height:170px;
  width: 480px;
  display: block;
  border-radius: 3px;
  border: 1px solid gray;
  margin: 0 auto;
  font-size: 14px;
  padding: 10px;
}

.disc-hissu{
  width: 160px;
  font-weight: bold;
  height: 25px;
  &__disc{
    font-size: 16px;
  }
  &__hissu{
    font-size: 12px;
    background-color: red;
    color: #fff;
    width: 30px;
    text-align: center;
    border-radius: 5px;
    margin: 2px 0 0 5px;
  }
}

.item-shop-select{
  height: 45px;
  width: 200px;
  background-color: #fff;
  display: block;
  border-radius: 3px;
  border: 1px solid gray;
  margin-left: 150px;
}

.item-category-select{
  position: relative;
  bottom: 30px;
}

.priceholder{
  margin-left: 130px;

  .enmark{
    font-size: 20px;
    padding: 10px 10px 0;
  }
  .item-price-input{
    height: 45px;
    width: 180px;
    background-color: #fff;
    display: block;
    border-radius: 3px;
    border: 1px solid gray;
    padding-left: 10px;
  }
}

.delivery-yn{
  width: 300px;
  height: 50px;
  float: right;
  position: relative;
  right: 260px;
  bottom: 30px;
  
  &__msg{
    font-size: 12px;
    color: gray;
  }
}

input.delivery-check[type=checkbox]{
  transform: scale(1.5);
}

.post-item-btn{
  width: 600px;
  height: 45px;
  background-color: orange;
  color: #fff;
  margin: 0 auto;
  display: block;
}

.item-return-btn{
  width: 385px;
  height: 30px;
  margin: 0 auto;
  background-color: gray;
  color: #fff;
  text-align: center;
  padding-top: 7px;
  margin-top: 10px;
}
