.item-new{
  height: 100%;
  width: 100%;
  position: static;
}

.item-new-header{
  background: #323232;
  height: 100px;

  &__content{
    margin: 0 auto;
    height: 60px;
    padding-top: 15px;

    &__msg{
      text-align: center;
      color: #fff;
      font-family: monospace;
      font-weight: bold;
      font-size: 50px;
    }
  }
}

.zozoshop{
  width: 100%;
  height: 100%;
  background: #DDDDDD;

  &__header{
    padding-top: 20px;
    padding-left: 20px;
    height: 60px;
    background-color: #fff;

      &-msg{
        opacity: 0.8;
        font-size: 25px;
        font-weight: bold;
      }
  }

  &__right{
    width: 51%;
    float: left;
    border-right: 1px solid #660000;

    &-container{
      width: 100%;
      margin: 25px 0 0 25px;

      &-box{
        margin-bottom: 45px;

        &-msg{
          font-size: 20px;
          font-weight: bold;
        }

        &-tag{
          margin: 15px 0 0 20px;
        }
      }
    }
  }

  &__left{
    float: left;
  }
}

.newitem-preview{
  border-top: 1px solid black;
  background: #eeeeee;
  width: 100%;
  padding-bottom: 60px;

  &__header{
    margin-top: 15px;
    height: 30px;

    &-msg{
      font-size: 25px;
      font-weight: bold;
      margin-left: 30px;
    }
  }

  &__box{
    border: 1px solid gray;
    background: rgba(#A9A9A9, 0.7);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 30px;

    &-msg{
      margin-top: 75px;
      font-size: 20px;
      font-weight: bold;
      width: 150px;
      text-align: center;
    }
    &-preview{
      width: 150px;
      height: 180px;
      background: rgba(#f5f5f5, 0.8);
    }

    &-color{
      margin: 40px 0 0 40px;
    }
  }

  &__footer{
    margin-right: 100px;
    opacity: 0.8;
    float: right;
  }
}

#item_images_attributes_0_image, .images_attributes{
  width: 150px;
  height: 180px;
  position: relative;
  bottom: 110px;
  opacity: 0;
}

.hiss{
  font-size: 12px;
  color: white;
  background: red;
  opacity: 0.7;
  padding: 3px 7px;
  border-radius: 4px;
}

.input-style{
  font-size: 15px;
  padding-left: 10px;
  height: 45px;
  border-radius:  4px;
  border: 1px solid gray;
}

.text_area-style{
  width: 480px;
  height: 300px;
  font-size: 15px;
  padding: 8px;
  border-radius:  4px;
  border: 1px solid gray;
}

.item-text{
  margin-left: 70px;
  width: 430px;
  height: 170px;
  font-size: 15px;
  padding: 8px;
  border-radius:  4px;
  border: 1px solid gray;
}

.select-style, #item_parent_category_id{
  border-radius:  4px;
  border: 1px solid gray;
  height: 45px;
  width: 250px;
  color: black;
}

#item_child_category_id{
  border-radius:  4px;
  border: 1px solid gray;
  height: 45px;
  width: 250px;
  display: none;
}

input[type="checkbox" i]#item_wrapping, input[type="checkbox" i]#item_delivery_days{
  transform: scale(1.5);
}

#add_image{
  margin-right: 50px;
  border-radius: 10px;
  color: #fff;
  background: #2f4f4f;
  height: 80px;
  width: 180px;
}
.wrapping-msg{
  font-size: 14px;
  color: gray;
  margin-left: 15px;
}

.color-msg{
  font-size: 14px;
  color: #660000;
  margin-bottom: 10px;
}

.price-input{
  background-color: #ccffff;
  border: none;
  font-size: 15px;
  padding-left: 10px;
  height: 45px;
  border-bottom: 1px solid gray;
}

.button-style{
  border-radius: 10px;
  height: 80px;
  width: 180px;
  color: white;
  background: red;
  opacity: 0.9;
}

.coupon-price{
  background: rgb(248, 248, 248);
  margin-top: 8px;
  width: 150px;
  height: 45px;
  border: none;
  font-size: 18px;
  padding-left: 10px;
  border-bottom: 1px solid gray;
}

.coupon-price-msg{
  font-weight: bold;
}
