.type-of-place{
  width: 210px;
  height: 40px;
  border: 1px solid #ccc;
  background: #fff;
}

.additional-address-name{
  width: 220px;
  height: 28px;
  padding:  8px 7px;
  font-size: 13px;
}

.postal-additional-msg{
  font-size: 13px;
  color: #808080;
}
