.user-info-hissu{
  margin-left: 5px;
  font-size: 10px;
  color: #3c3c3c;
  background: #c8c8c8;
  width: 34px;
  padding: 3px;
  border-radius: 5px;
}

.basic-username-input{
  width: 220px;
  height: 40px;
}
