.body-right__top{
  height: 400px;
  border-radius: 4px;
  background: #f0f0f0;
  border: 1px solid #dcdcdc;
  &-inside{
    margin: 36px 48px 40px 48px;
    &__header{
      border-bottom: 1px solid #dcdcdc;
      &-index{
        font-size: 18px;
        margin-bottom: 5px;
      }
    }
  }
}
