.user-basic-email-msg{
  padding: 7px 0;
  color: #808080;
  font-size: 12px;
}

.basic-useremail-input{
  width: 460px;
  height: 28px;
  padding: 7px 10px;
  font-size: 13px;
}

.basic-useremail-input-msg{
  font-size: 12px;
  color: #808080;
}
