.basic-user-info__content-th2{
  width: 190px;
  font-size: 15px;
  color: #808080;
}

.basic-userpasswprd-input{
  width: 250px;
  height: 20px;
  padding: 10px 7px;
  font-size: 14px;
}

.basic-userpasswprd-input-space{
  margin-bottom: 10px;
}
