.confirm-user-email{
  font-size: 13px;
  position: relative;
  left: 40px;
}

.gray{
  color: gray;
}

.sns-coupon{
  position: relative;
  bottom: 30px;
}

.sns-resistration-btn{
  width: 270px;
  background: #2490D0;
  height: 40px;
  margin-bottom: 20px;
}
