.sign-up{
  width: 100%;
  height: 100%;
  background-color: #fff;

  &__header{
    background-color: black;
    height: 50px;
    color: white;
    text-align: center;
  }

  &__breadcrumbs{
    height: 70px;
    background-color: aqua;
    text-align: center;
  }

  &__main{
    height: 700px;
    margin: 5px 150px 70px;

    &__header{
      height: 40px;

      .users-icon{
        font-size: 38px;
        color: #007ebe;
      }

      .resistration-new-member-msg{
        font-size: 25px;
        font-weight: lighter;
        padding: 3px 0 0 8px;
      }
    }

    &__middle{
      background: #f0f0f0;
      width: 700px;
      margin: 40px auto 0;
      border-radius: 4px;

      .user-resistration-form{
        width: 610px;
        margin: 0 auto;

        &__top-msg{
          font-size:18px;
          padding-top: 30px;
          border-bottom: solid 1px;
          border-color: rgb( 192, 192, 192);
        }

        &__gender{
          border-bottom: solid 1px;
          border-color: rgb( 192, 192, 192);

          &__line{
            padding: 18px 0 ;

            &__msg{
              width: 150px;
              font-size: 15px;
            }
            &__text{
              padding: 4px 0 0 10px;
              font-size: 14px;

            }
            &__female-msg{
              padding-left: 40px;
            }
            &__birth{
              width: 150px;
              font-size: 15px;
              padding-top: 10px;
            }
            &__year{
              padding: 10px 0 0 10px;
              font-size: 14px;
            }
          }
          .user-resistration-form__postal__line{
            padding: 30px 0 ;
            &__postal{
              font-size: 15px;
              padding-top: 10px;
            }
            &__hissu{
              padding: 13px 0 0 8px;
              &-box{
                width: 28px;
                height: 18px;
                background: #c8c8c8;
                border-radius: 3px;
                text-align: center;
                margin-right: 50px;

                &-msg{
                  font-size: 11px;
                  
                }
              }
            }
            &__postal-search{
              padding: 10px 0 0 80px;
              font-size: 13px;
              color: gray;
            }
            &__postal-icon{
              padding: 9px 0 0 3px;
              font-size: 15px;
              color: gray;
            }
          }
          &__line__email{
            padding: 25px 0 ;

          }
          &__line__email__label{
              padding-right: 29px;
          }
          .zozoid__hissu{
            padding-left: 80px;
            position: relative;
            bottom: 20px;
            &-box{
              width: 28px;
              height: 18px;
              background: #c8c8c8;
              border-radius: 3px;
              text-align: center;
              margin-right: 50px;
              &-msg{
                font-size: 11px;
                  
              }
            }
          }
          &__line__email__text{
            width: 380px;
            height: 40px;
            float: right;
            position: relative;
            right: 70px;
            bottom: 100px;
            border-radius: 2px;
            border: solid;
            border-width: 1px;
            border-color: rgb(166, 166, 166);
            padding-left: 12px;
          }
          .mail-to-zozoid {
            font-size: 10px;
            color: gray;
            padding-left: 145px;
            padding-bottom: 10px;
          }
          .sale_and_coupon {
            font-size: 12px;
            color: gray;
            float: left;
            padding: 4px 0 0 2px;
          }
          .new-password-box{
            width: 300px;
            height: 40px;
            float: left;
            position: relative;
            left: 150px;
            bottom: 70px;
            border-radius: 2px;
            border: solid;
            border-width: 1px;
            border-color: rgb(166, 166, 166);
            padding-left: 12px;

          }
        }
      }
    }
  }

  &__footer{
    height: 400px;
    background-color: blue;
  }
}

.side-by-side-ul{
  list-style-type: none;
  .side-by-side-li{
    display: inline;
    float: left;
  }
}

.select-arrange-year{
  width: 90px;
  height: 38px;
  color: gray;
}

.text-arrange-postal{
  padding-left: 12px;
  font-size:13px;
  width: 240px;
  height: 40px;
  border-radius: 2px;
  border: solid;
  border-width: 1px;
  border-color: rgb(166, 166, 166);
}

.checkbox-arrange-coupon{
  margin-left: 140px;
}

