.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

a{
  text-decoration: none;
}

input[type="text"]:focus{
  outline: 1px solid #2490D0;
}

button{
  outline: none;
}

.breadcrumbs{
  padding: 10px 0 10px 75px;
  font-size: 14px;
}

