.world{
  width: 100%;
  height: 100%;
  background: lightgray;
  position: absolute;
  font-weight: bold;

  &__header{
    height: 80px;
    padding-top: 10px;
    background: black;
    color: #fff;
    font-size: 45px;
    text-align: center;
  }

  .japan {
    margin-left: 200px;

    ul {
      position: relative;

      li {
        width:59px;
        height: 62px;
        background-color: #ffffff;
        border:1px solid #808080;
        line-height: 62px;
        font-size: 13px;
        text-align: center;
        box-shadow: 0.3px 0 0.3px 0.3px #2d2d2d;

        button{
          background: transparent;
          border: none;
          cursor: pointer;
          color: purple;
        }
      }
    }
  }
}

.hokkaido {
  position: absolute;
  top:20px;
  left:800px;
}

.akita {
  position: absolute;
  top:100px;
  left:675px;
}

.aomori {
  position: absolute;
  top:100px;
  left:740px;
}

.iwate {
  position: absolute;
  top:167px;
  left:740px;
}

.yamagata {
  position: absolute;
  top:167px;
  left:675px;
}

.miyagi {
  position: absolute;
  top:234px;
  left:740px;
}

.tochigi {
  position: absolute;
  top:234px;
  left:675px;
}

.fukushima {
  position: absolute;
  top:301px;
  left:740px;
}

.saitama {
  position: absolute;
  top: 301px;
  left:675px;
}

.tokyo {
  position: absolute;
  top: 368px;
  left:675px;
}

.ibaraki {
  position: absolute;
  top: 368px;
  left:740px;
}

.chiba {
  position: absolute;
  top: 435px;
  left:740px;
}

.niigata {
  position: absolute;
  top: 234px;
  left:611px;
}


.gunma {
  position: absolute;
  top: 301px;
  left:611px;
}

.kanagawa {
  position: absolute;
  top: 368px;
  left:611px;
}

.toyama {
  position: absolute;
  top: 234px;
  left:547px;
}

.nagano {
  position: absolute;
  top:301px;
  left:547px;
}

.yamanashi {
  position: absolute;
  top: 368px;
  left:547px;
}

.shizuoka {
  position: absolute;
  top: 435px;
  left:547px;
}

.ishikawa {
  position: absolute;
  top: 234px;
  left:483px;
}

.gihu {
  position: absolute;
  top:301px;
  left:483px;
}

.aichi {
  position: absolute;
  top:368px;
  left:483px;
}


.fukui {
  position: absolute;
  top:234px;
  left:419px;
}

.shiga {
  position: absolute;
  top:301px;
  left:419px;
}

.nara {
  position: absolute;
  top:368px;
  left:419px;
}

.mie {
  position: absolute;
  top:435px;
  left:419px;
}

.kyoto {
  position: absolute;
  top:234px;
  left:355px;
}

.hyogo {
  position: absolute;
  top:301px;
  left: 355px;
}

.osaka {
  position: absolute;
  top:368px;
  left:355px;
}

.wakayama {
  position: absolute;
  top:435px;
  left:355px;
}

.tottori {
  position: absolute;
  top:234px;
  left:291px;
}

.okayama {
  position: absolute;
  top:301px;
  left:291px;
}

.shimane {
  position: absolute;
  top:234px;
  left:227px;
}

.hiroshima {
  position: absolute;
  top:301px;
  left:227px;
}

.yamaguchi {
  position: absolute;
  top:234px;
  left:163px;
}

.fukuoka {
  position: absolute;
  top:234px;
  left:99px;
}

.oita {
  position: absolute;
  top:301px;
  left:99px;
}

.miyazaki {
  position: absolute;
  top:368px;
  left:99px;
}

.saga {
  position: absolute;
  top:234px;
  left:35px;
}

.nagasaki {
  position: absolute;
  top:301px;
  left:35px;
}

.kumamoto {
  position: absolute;
  top:368px;
  left:35px;
}

.kagoshima {
  position: absolute;
  top:435px;
  left:35px;
}

.okinawa {
  position: absolute;
  top:435px;
  left:-29px;
}

.ehime {
  position: absolute;
  top:368px;
  left:196px;

}

.kagawa {
  position: absolute;
  top:368px;
  left:260px;
}

.tokushima {
  position: absolute;
  top:435px;
  left:260px;

}

.kochi {
  position: absolute;
  top: 435px;
  left: 196px;
}

.area{
  width: 430px;
  height: 300px;
  margin-left: 420px;
  bottom: 300px;
  background: #FFFFEE;
  position: fixed;
  border-radius: 50%;

  &__box{
    font-weight: bold;
    font-size: 16px;
    width: 300px;
    height: 130px;
    margin: 50px 0 0 120px;

    .prefecture{
      padding: 0 18px;
      width: 80px;
      font-size: 20px;
      margin: 0 0 30px 40px;
      border: 2px solid gray;
    }
  }
}

#hide-area{
  color: red;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 25px;
  margin-top: 30px;
  padding-left: 40px;
}


