.confirm-table{
  margin-top: 20px;
  border-bottom: 1px solid lightgray;
  width: 670px;

  &__index{
    font-size: 14px;
  }

  &__info{
    font-size: 13px;
  }

  &__middle{
    padding-left: 40px;
  }

  &__receive{
    font-weight: bold;
    font-size: 15px;
  }

  &__background-receive{
    margin: 10px 0;
    background: #f0f0f0;
  }

  &__receive-image{
    margin: 15px 10px 0 0;
  }

  &__background-receive-btn{
    background: #f0f0f0;
  }

  .shop-selection-btn{
    background: #2490d0;
    color: #fff;
    padding: 10px 20px;
  }
}

.confirmation-change-address{
  border-radius: 3px;
  color: #2490d0;
  background: transparent;
  border: 1px solid #2490d0;
  padding: 5px 20px;
}

.receive-add{
  padding-left: 30px;
}

.payment-add{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
}

.confirm-table-ex{
  border-bottom: 1px solid lightgray;
  width: 670px;
}

.arigato-add{
  padding-top: 15px;
  padding-bottom: 15px;
}

.confirm-item{
  width: 670px;

  &__header{
    margin: 20px 0 20px 20px;
  }

  &__box{
    border-radius: 5px;
    border: 1px solid silver;
    margin: 20px 0 20px 0;
    width: 648px;

    &-top{
      border-bottom: 1px solid silver;

      &__index{
        margin-top: 15px;
        text-align: center;
        width: 120px;
        font-size: 13px;
      }

      &__info{
        font-size: 13px;
        width: 330px;
      }

      &__price{
        font-size: 15px;
        margin-top: 15px;
        width: 115px;
        text-align: center;
      }
    }
    &-item{
      border-bottom: 1px solid silver;
      &__index{
        font-size: 13px;
        width: 120px;
        text-align: center;
      }
      &__image{
        padding: 19px 0;
        width: 70px;
      }
      &__info{
        margin-left: 10px;
        font-size: 13px;
      }
      &__price{
        margin-top: 40px;
      font-size: 14px;
      width: 200px;
      text-align: center;
      }
    }
    &-shipping{
      width: 100%;
      font-size: 13px;
      &__index{
        margin-left: 20px;
        padding-bottom: 15px;
      }
      &__price{
        padding-left: 400px;
      }
    }
  }
}

.confirm-top-marign{
  margin-top: 15px;
}

.confirm-item__box-top-btn{
  text-align: center;
  padding-top: 4px;
  font-size: 12px;
  height: 22px;
  margin-top: 10px;
  width: 60px;
  border-radius: 3px;
  color: #2490d0;
  background: transparent;
  border: 1px solid #2490d0;
}

.margin-giving{
  margin-top: 10px;
}
.confirm-item-zone{
  margin-top: 45px;
}

.confirm-main__right{
  left: 800px;
  position: absolute;
  float: left;
  margin-left: 40px;
  width: 300px;
  background: #f6f6f6;
  border: 1px solid #EDEDED;
  border-radius: 6px;
  &__top{
    text-align: center;
    &-btn{
      opacity: 0.8;
      font-size: 26px;
      margin-top: 15px;
      box-shadow: 1px 0 5px 4px rgba(69, 145, 175, 0.6);
      width: 250px;
      height: 70px;
      background: #993399;
      color: #fff;
      border-style: ridge;
    }
  }
  &__info{
    margin-top: 15px;
    font-size: 14px;
    &-msg{
      padding-left: 30px;
    }
    &-price{
      padding-left: 140px;
    }
  }
  &__detail{
    margin-top: 10px;
    height: 64px;
    background: #eaeaea;
    font-size: 14px;
    &__head{
      height: 15px;
    }
    &__top{
      margin: 0 auto;
      width: 250px;
      height: 1px;
      background: lightgray;
    }
    &__bottom{
      margin-top: 10px;
      &-msg{
        padding-left: 30px;
      }
      &-price{
        padding-left: 170px;
      }
    }
  }
  &__shipping{
    margin-top: 10px;
    &-msg{
      padding-left: 30px;
      font-size: 14px;
    }
    &-add{
      font-size: 11px;
      color: gray;
    }
    &-price{
      padding-left: 10px;
      font-size: 14px;
    }
  }
  &__extra-fee{
    margin-top: 10px;
    &-msg{
      font-size: 14px;
      padding-left: 30px;
    }
    &-price{
      font-size: 14px;
      padding-left: 120px;
    }
  }
  &__sum{
    margin-top: 10px;
    border-top: 1px solid lightgray;
    padding-top: 10px;
    font-size: 18px;
    &-msg{
      padding-left: 20px;
    }
    &-add{
      font-size: 11px;
    }
    &-price{
      padding-left: 130px;
      font-size: 14px;
    }
  }
  &__bottom{
    margin: 10px 0 20px 30px;
    font-size: 11px;
  }
}
