.cart-main{
  height: 100%;
  width: 100%;
}

.cart-main__header{
  width:930px;
  height: 90px;
  margin: 0 auto;

  &__left{
    float: left;
    height: 50px;
    width: 270px;
    margin-top: 40px;

    &-oncart{
      color: blue;
    }

    &-msg{
      float: right;
      font-size: 24px;
      margin: 10px 0 0 6px;
    }
  }

  &__right{
    float: right;
    width: 295px;
    height: 70px;
    margin-top: 20px;
  }
}

.cart-main__content{
  width: 930px;
  margin: 100px auto 0;
  padding-bottom: 60px;
  text-align: center;
  border-bottom: 1px solid;
  border-color: silver;

  &__noitem-msg{
   color: gray;
   font-size: 16px;
   margin-bottom: 90px;
  }

  .continue-shopping-btn{
    background-color: #007ebe;
    color: white;
    padding: 15px 40px;
    border-radius: 5px;
  }
}

.cart-main__checked-item{
  width: 930px;
  margin: 0 auto;

  &-msg{
    font-size: 18px;
    margin-top: 25px;
  }

  &__line{
    width: 1000px;
    margin-top: 20px;

    &__li{
      width: 140px;
      height: 230px;
      margin: 0 20px 20px 0;

      &-image{
        height: 150px;
        width: 125px;
      }

      &-item-name{
        color: gray;
        font-size: 13px;
      }

      &-item-price{
        font-size: 13px;
        color: #E73656;
      }

      &-tax-include{
        font-size: 11px;
        color: #E73656;
      }

      .add-to-cart-btn{
        color: #fff;
        background-color: #007ebe;
        border-radius: 5px;
        width: 150px;
        height: 30px;
      }
    }
  }
}

.cart-main__middle{
  height: 800px;
  background-color: red;
  width: 930px;
  margin: 0 auto;

  &__left{
    width: 530px;
    background-color: blue;
    float: left;

    &__item-space{
      border-top: 2px solid;
      border-bottom: 2px solid;
      border-color: silver;

      &-image{
        width: 125px;
        height: 150px;
        padding-top: 40px;
        padding-left: 7px;

        .in-cart-item-image{
          width: 125px;
          height: 150px;
        }
      }

      &-detail{
        padding-top: 15px;
        .in-cart-item-p{
          font-size: 14px;
        }
      }
    }
  }

  &__right{
    height: 300px;
    background-color: yellow;
    width: 350px;
    float: right;
  }
}



