.cart-main{
  height: 100%;
  width: 100%;
}

.cart-main__header{
  width:930px;
  height: 90px;
  margin: 0 auto;

  &__left{
    float: left;
    height: 50px;
    width: 270px;
    margin-top: 40px;

    &-oncart{
      color: blue;
    }

    &-msg{
      float: right;
      font-size: 24px;
      margin: 10px 0 0 6px;
    }
  }

  &__right{
    float: right;
    width: 295px;
    height: 70px;
    margin-top: 20px;
  }
}

.cart-main__content{
  width: 930px;
  margin: 100px auto 0;
  padding-bottom: 60px;
  text-align: center;
  border-bottom: 1px solid;
  border-color: silver;

  &__noitem-msg{
   color: gray;
   font-size: 16px;
   margin-bottom: 90px;
  }

  .continue-shopping-btn{
    background-color: #007ebe;
    color: white;
    padding: 15px 40px;
    border-radius: 5px;
  }
}

.cart-main__checked-item{
  width: 930px;
  margin: 0 auto;

  &-msg{
    font-size: 18px;
    margin-top: 25px;
  }

  &__line{
    width: 1000px;
    margin-top: 20px;

    &__li{
      width: 140px;
      height: 230px;
      margin: 0 20px 20px 0;

      &-image{
        height: 150px;
        width: 125px;
      }

      &-item-name{
        color: gray;
        font-size: 13px;
      }

      &-item-price{
        font-size: 13px;
        color: #E73656;
      }

      &-tax-include{
        font-size: 11px;
        color: #E73656;
      }

      .add-to-cart-btn{
        color: #fff;
        background-color: #007ebe;
        border-radius: 5px;
        width: 150px;
        height: 30px;
      }
    }
  }
}

.cart-main__middle{
  width: 1000px;
  margin: 0 auto;

  &__left{
    float: left;
    margin-top: 40px;

    &__item-space{
      width: 530px;
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-color: silver;

      &-image{
        width: 125px;
        height: 150px;
        padding-top: 40px;
        padding-left: 7px;

        .in-cart-item-image{
          width: 125px;
          height: 150px;
        }
      }

      &-detail{
        width: 225px;
        padding-top: 15px;
        padding-left: 5px;

        .in-cart-item-p{
          font-size: 13px;
        }

        .in-cart-item-p-no-retutn{
          font-size: 13px;
          color:#E73656;
        }
      }

      &-price{
        font-size: 13px;
      }

      &-count-item{
        width: 55px;

        &__box{
          margin-left: 50px;
          border-radius: 4px;
          height: 26px;
          width: 81px;

          &-number{
          position: relative;
          text-align: center;
          width: 23px;
          height: 22px;
          font-size: 14px;
          float: left;
          }

          &-btn-minus{
          position: relative;
          z-index: 2;
          outline: none;
          border-radius: 4px 0 0 4px;
          background-color: #f6f6f6;
          color: #007ebe;
          float: left;
          font-size: 18px;
          width: 27px; 
          height: 26px;
          }

          &-btn-plus{
          position: relative;
          z-index: 2;
          outline: none;
          border-radius: 0 4px 4px 0;
          background-color: #f6f6f6;
          color: #007ebe;
          float: left;
          font-size: 18px;
          width: 27px; 
          height: 26px;
          }

          &-num-1{
          border-radius: 4px 0 0 4px;
          border: 1px solid;
          border-color: lightgray;
          text-align: center;
          width: 23px;
          height: 23px;
          font-size: 14px;
          float: left;
          }

          &-num-1-plus{
          position: relative;
          z-index: 2;
          outline: none;
          border-radius: 0 4px 4px 0;
          background-color: #f6f6f6;
          color: #007ebe;
          float: left;
          font-size: 18px;
          width: 27px; 
          height: 25px;
          }
        }
      }

      &-delete-btn{
        position: relative;
        z-index: 2;
        text-align: center;
        width: 80px;
        font-size: 14px;
      }
    }
  }

  &__right{
    float: right;
    margin-top: 15px;
    background: #f6f6f6;
    width: 330px;
    border: 3px ridge;
    border-radius: 6px;

    &-tab{
      width: 330px;
      background: #fff;

      &__zozo, &__facebook{
        outline: none;
        display: block;
        width: 165px;
        float: left;
        font-famiy: 'arial black';
        font-size: 20px;
        text-align: center;
        border: 1px solid;
        border-color: #f6f6f6;
      }
    }

    &__zozobox{
      border-bottom: 1px solid;
      border-color: silver;
      margin-top: 25px;
      padding-left: 35px;

      &-msg{
        font-size: 16px;
        margin-bottom: 20px;
      }

      &-input{
        padding-left: 10px;
        font-size: 14px;
        margin-bottom:10px;
        width: 250px;
        height: 40px;
        border: 1px solid;
        border-color: gray;
        border-radius: 2px;
      }

      .forget-email-box{
        font-size: 10px;
        margin-bottom: 20px;
      }

      &-arigato-transaction-btn{
        width: 260px;
        height: 55px;
        background: #c49a44;
        color: #fff;
        border-radius: 5px;
        text-align: center;
        padding-top: 10px;

        .arigato-price-msg{
          font-size: 14px;
        }

        .confirm-arigato-price{
          font-size: 17px;
        }
      }

      &-only-creditcard-msg{
        margin: 10px 0 10px;
        color: #e73656;
        font-size: 11px;
      }

      &-zozoarigato-info-up{
        font-size: 11px;
      }

      &-zozoarigato-info-bottom{
        font-size: 11px;
        padding-bottom: 20px;
      }

      &-zozoarigato-detail{
        font-size: 12px;
      }
    }

    &__facebookbox{
      display: none;
      border-bottom: 1px solid;
      border-color: silver;
      margin-top: 25px;
      padding-left: 35px;

      &-msg{
        font-size: 16px;
        margin-bottom: 15px;
      }

      &-text{
        font-size: 12px;
      }

      &-info{
        font-size: 11px;
      }

      &-btn{
        margin: 15px 0 10px;
        font-size: 16px;
        width: 260px;
        height: 50px;
        background: #2490D0;
        color: #fff;
        border-radius: 5px;
      }

      .facebook-wrapping{
        margin: 15px 0;
      }
    }

    &__footer{
      margin: 25px;

      &__usual{
        display: block;

        &-price-box{
          border: none;
          background: transparent;
          display: block;
          margin: 0 auto;
          font-size: 15px;

          .usual-price-arrow{
            color: gray;
            font-size: 16px;
            padding-left: 5px;
          }
        }

        &-continue-shopping{
          font-size: 14px;
          text-align: center;
          margin-top: 60px;
        }
      }

      &__open{
        display: none;

        &-confirm-price{
          text-align: center;
          font-size: 15px;
        }

        &-next-to-register{
          text-align: center;
          padding-top: 10px;
          font-size: 17px;
          width: 260px;
          height: 35px;
          display: block;
          margin: 15px auto 10px;
          border-radius: 5px;
          background: #2490D0;
          color: #fff;
        }

        &-wrapping{
          width: 260px;
          padding-top: 13px;
          padding-bottom: 13px;
          margin: 0 auto;
          background: #e6e6e6;

          &-checkbox{
            float: left;
            margin: 10px 0 0 10px;
          }

          &-middle{
            margin:0 10px;
            float: left;
            font-size: 12px;
            width: 144px;

            .wrapping-detail-msg{
              color: #808080;
              margin-right: 5px;
            }
          }

          &-right{
            float: left;
          }
        }

        &-continue-shopping{
          margin-top: 20px;
          font-size: 13px;
          text-align: center;
        }
      }
    }
  }

  &__sum-payment{
    width: 603px;

    &-price{
      margin-left: 380px;
      top: 15px;
      position: relative;
      font-size: 15px;

      &-span{
        padding-left: 165px;
      }
    }

    &-zozoarigato{
      width: 400px;
      margin-left: 300px;
      padding-top: 30px;
      font-size: 15px;
      color: #c49a44;

      &-span{
        padding-left: 100px;
      }
    }

    &-limit{
      margin-left: 300px;
      font-size: 12px;
      padding-top: 5px;

      &-bold{
        font-weight: bold;
      }

      &-span{
        color: #e73656;
      }
    }
  }

  .pre-incart-item{
    margin-top: 20px;
    width: 603px;

    &__header{
      font-size: 18px;
    }

    &__main-box{
      margin-top: 10px;
      display: block;
      width: 530px;
      &-image{
        height: 150px;
        width: 125px;
      }

      &-detail{
        padding-left: 15px;
        width: 400px;

        &-shop{
          font-size: 13px;
        }

        &-tax{
          font-size: 10px;
          color: gray;
        }
      }
      &-add-to-cart{
        padding-left: 20px;

        &-btn{
          background: #007ebe;
          color: #fff;
          width: 160px;
          height: 40px;
          border-radius: 3px;
        }
      }
    }
  }
}

.order-main__footer{
  background: #f0f0f0;
  margin-top: 10px;
  padding-top: 15px;

  &-box{
    width: 1000px;
    margin: 15px auto;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    &-ul{
      padding-top: 15px;
      padding-bottom: 15px;
      color: gray;
      font-size: 12px;
    }

    &-li-right{
      border-right: 1px solid lightgray;
      padding-right: 10px;
    }

    &-li-both{
      border-right: 1px solid lightgray;
      border-left: 1px solid lightgray;
      padding-right: 10px;
      padding-left: 10px;
    }

    &-li-left{
      border-left: 1px solid lightgray;
      padding-left: 10px;
    }
  }

  &-bottom{
    color: gray;
    font-size: 12px;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}

.cart-main__middle__right-tab-zozo{
  display: block;
}

.selected{
  background-color: #f6f6f6;
}

.v{
  position: relative;
  top: 25px;
}

.minus_box{
  opacity: 0;
}

.last_one_msg{
  color: #fff;
  text-align: center;
  background: #e73656;
  width: 60px;
  height: 18px;
  border-radius: 4px;
  font-size: 12px;
}

.stock-one-msg{
  color: #fff;
  text-align: center;
  background: #e73656;
  width: 90px;
  height: 18px;
  border-radius: 4px;
  font-size: 12px;
}
