.header__content {
  width:100%;
  background-color: #f0f0f0;

  &__ul {
    display: flex;
    margin-left: 230px;
  }

    &__list {
      padding: 8.5px;

      >a {
        text-decoration: none;
        color:#2d2d2d;
        font-size: 14px;
      }
    }
}





