.order-main.clearfix
  .order-main__header.clearfix
    .order-main__header__left
      .order-main__header__left__zozo-logo ZOZOTOWN
      .order-main__header__left__msg 注文内容の確認
    .order-main__header__right
      = image_tag "https://zozo.jp/_cart/order/img/step_02.gif"

  .order-main__body
    %table.confirm-table
      %tr
        %td.confirm-table__index お届け先
        %td.confirm-table__middle
          %p.confirm-table__info
            %span 開沼 諒
            %span 様
          %p.confirm-table__info
            %span 住所:
            %span 〒000-000
            %span 東京都渋谷区渋谷1-1
          %p.confirm-table__info
            %span 電話：
            %span 09000000000
        %td.receive-add
          %button{class: "confirmation-change-address"}変更
      %tr
        %td
        %td.clearfix.confirm-table__background-receive-btn
          %ul.side-by-side-ul.clearfix
            %li.side-by-side-li.confirm-table__receive-image
              = image_tag "https://img4.zozo.jp/pc/_cart/locker_cart/ico_cnv.png", width: "50px", height: "50px"
            %li.side-by-side-li.confirm-table__background-receive
              %p.confirm-table__receive 24時間いつでも・どこでもお受け取り可能
              %p.confirm-table__info 店舗・ロッカーお受け取りなら、ご都合のいい時間・場所で
              %p.confirm-table__info
                %span お受け取り可能です。
                %span 詳細
        %td.confirm-table__background-receive-btn
          %button{class: "shop-selection-btn"}店舗選択
    %table.confirm-table-ex
      %tr
        %td.confirm-table__index 支払い方法
        %td.confirm-table__middle
          %span.confirm-table__info クレジットカード
          %span.confirm-table__info ＊＊＊＊＊＊＊＊＊0000
          %span.confirm-table__info (一括払い)
        %td.confirm-table__index.payment-add ¥0
        %td.payment-add 
          %button{class: "confirmation-change-address"}変更
    %table.confirm-table-ex
      %tr
        %td.confirm-table__index.arigato-add ARIGATO応援先
        %td.confirm-table__index 今回のご注文ではご利用いただけません。
    %table.confirm-table-ex
      %tr
        %td.confirm-table__index.arigato-add ZOZOポイント
        %td.confirm-table__index ご利用可能ポイント：0ポイント / 今回の還元ポイント : 0ポイント
    .confirm-item
      .confirm-item__header お届け商品
      .confirm-item__box
        .confirm-item__box-top.clearfix
          %ul.side-by-side-ul.confirm-top-marign
            %li.side-by-side-li 
              .confirm-item__box-top__index お届け日
            %li.side-by-side-li
              .confirm-item__box-top__info
                %p 指定なし：2〜5日以内に発送 
                %p.gray 日時指定：日時を選択してください。
                %p.gray
                  %span 即日配送：※今回のご注文では選択できません。
                  %span
                    =fa_icon "exclamation", id: "exclamation"
            %li.side-by-side-li
              .confirm-item__box-top__price ¥0
            %li.side-by-side-li
              %button{class: "confirmation-change-address confirm-item__box-top-btn"}変更
        .confirm-item__box-item.clearfix
          %ul.side-by-side-ul.confirm-top-marign
            %li.side-by-side-li
              .confirm-item__box-item__index 商品
            %li.side-by-side-li
              .confirm-item__box-item__image
                = image_tag 'https://img4.zozo.jp/goodsimages/24834970/24834970B_156_D.jpg',height: "85px", width: "70px"
            %li.side-by-side-li
              .confirm-item__box-item__info
                %p ショップ名
                %p ブランド名
                %p 親カテゴリー/子カテゴリー
                %p カラー
                %p サイズ
                %p 
                  %span 数量：
                  %span 1
            %li.side-by-side-li
              .confirm-item__box-item__price ¥1,000
            %li.side-by-side-li
              %button{class: "confirmation-change-address confirm-item__box-top-btn, confirm-item-zone"}変更
        .confirm-item__box-shipping.clearfix
          %ul.side-by-side-ul.confirm-top-marign
            %li.side-by-side-li
              .confirm-item__box-shipping__index 送料
            %li.side-by-side-li
              .confirm-item__box-shipping__price ¥200


  .confirm-main__right
    .confirm-main__right__top
      %button{class: ".confirm-main__right__top"}注文を確定する
    .confirm-main__right__info
      %span 商品合計
      %span ¥972
    .confirm-main__right__detail 
      %span 品代
      %span ¥972



.order-main__footer#footer-top
  .order-main__footer-box
    %ul.side-by-side-ul.order-main__footer-box-ul.clearfix
      %li.side-by-side-li.order-main__footer-box-li-right コーポレイトサイト
      %li.side-by-side-li.order-main__footer-box-li-both 会社概要
      %li.side-by-side-li.order-main__footer-box-li-both IR情報
      %li.side-by-side-li.order-main__footer-box-li-both 採用情報
      %li.side-by-side-li.order-main__footer-box-li-both 利用規約
      %li.side-by-side-li.order-main__footer-box-li-both プライバシーポリシー
      %li.side-by-side-li.order-main__footer-box-li-left 特定商取引法に基づく表示・古物営業法に基づく表示
  .order-main__footer-bottom ©ZOZO,Inc
