.order-main.clearfix
  .order-main__header.clearfix
    .order-main__header__left
      .order-main__header__left__zozo-logo ZOZOTOWN
      .order-main__header__left__msg 注文内容の確認
    .order-main__header__right
      = image_tag "https://zozo.jp/_cart/order/img/step_03.gif"

.done-main
  .done-main__header ご購入ありがとうございました。
  .done-main__footer
    = link_to "買い物を続ける" ,root_path


.order-main__footer#footer-top
  .order-main__footer-box
    %ul.side-by-side-ul.order-main__footer-box-ul.clearfix
      %li.side-by-side-li.order-main__footer-box-li-right コーポレイトサイト
      %li.side-by-side-li.order-main__footer-box-li-both 会社概要
      %li.side-by-side-li.order-main__footer-box-li-both IR情報
      %li.side-by-side-li.order-main__footer-box-li-both 採用情報
      %li.side-by-side-li.order-main__footer-box-li-both 利用規約
      %li.side-by-side-li.order-main__footer-box-li-both プライバシーポリシー
      %li.side-by-side-li.order-main__footer-box-li-left 特定商取引法に基づく表示・古物営業法に基づく表示
  .order-main__footer-bottom ©ZOZO,Inc
