.order-main
  .order-main__header.clearfix
    .order-main__header__left
      .order-main__header__left__zozo-logo ZOZOTOWN
      .order-main__header__left__msg お届け先・配送方法・お支払い方法
    .order-main__header__right
      = image_tag "/images/cart-info_step1.jpg"


  .order-main__body
  .order-main__footer

