%body
  %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
  %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
  %script{ src: "https://code.jquery.com/jquery-3.3.1.min.js"}
  %script{:src => "/assets/jquery.color.js", :type => "text/javascript"}
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.js"}
  %script{:src => "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js", :type => "text/javascript"}
  %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"}

  %link{:href => "http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css", :rel => "stylesheet", :type => "text/css"}/
  %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.6.3/css/all.css", :integrity => "sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", :rel => "stylesheet"}/

.world
  .world__header ZOZO MARKETING
  .japan
    %ul
      %li.hokkaido
        %button{type: :button, id: "hokkaido", value: "北海道"}
          %span 北海道

      %li.akita
        %button{type: :button, id: "akita", value: "秋田県"}
          %span 秋田県

      %li.aomori
        %button{type: :button, id: "aomori", value: "青森県"}
          %span 青森県

      %li.iwate
        %button{type: :button, id: "iwate", value: "岩手県"}
          %span 岩手県

      %li.yamagata
        %button{type: :button, id: "yamagata", value: "山形県"}
          %span 山形県

      %li.miyagi
        %button{type: :button, id: "miyagi", value: "宮城県"}
          %span 宮城県

      %li.tochigi
        %button{type: :button, id: "tochigi", value: "栃木県"}
          %span 栃木県

      %li.fukushima
        %button{type: :button, id: "fukushima", value: "福島県"}
          %span 福島県

      %li.saitama
        %button{type: :button, id: "saitama", value: "埼玉県"}
          %span 埼玉県

      %li.tokyo
        %button{type: :button, id: "tokyo", value: "東京都"}
          %span 東京都

      %li.ibaraki
        %button{type: :button, id: "ibaraki", value: "茨城県"}
          %span 茨城県

      %li.chiba
        %button{type: :button, id: "chiba", value: "千葉県"}
          %span 千葉県

      %li.niigata
        %button{type: :button, id: "niigata", value: "新潟県"}
          %span 新潟県

      %li.gunma
        %button{type: :button, id: "gunma", value: "群馬県"}
          %span 群馬県

      %li.kanagawa
        %button{type: :button, id: "kanagawa", value: "神奈川県"}
          %span 神奈川県

      %li.toyama
        %button{type: :button, id: "toyama", value: "富山県"}
          %span 富山県

      %li.nagano
        %button{type: :button, id: "nagano", value: "長野県"}
          %span 長野県

      %li.yamanashi
        %button{type: :button, id: "yamanashi", value: "山梨県"}
          %span 山梨県

      %li.shizuoka
        %button{type: :button, id: "shizuoka", value: "静岡県"}
          %span 静岡県

      %li.ishikawa
        %button{type: :button, id: "ishikawa", value: "石川県"}
          %span 石川県

      %li.gihu
        %button{type: :button, id: "gihu", value: "岐阜県"}
          %span 岐阜県

      %li.aichi
        %button{type: :button, id: "aichi", value: "愛知県"}
          %span 愛知県

      %li.fukui
        %button{type: :button, id: "fukui", value: "福井県"}
          %span 福井県

      %li.shiga
        %button{type: :button, id: "shiga", value: "滋賀県"}
          %span 滋賀県

      %li.nara
        %button{type: :button, id: "nara", value: "奈良県"}
          %span 奈良県

      %li.mie
        %button{type: :button, id: "mie", value: "三重県"}
          %span 三重県

      %li.kyoto
        %button{type: :button, id: "kyoto", value: "京都府"}
          %span 京都府

      %li.hyogo
        %button{type: :button, id: "hyogo", value: "兵庫県"}
          %span 兵庫県

      %li.osaka
        %button{type: :button, id: "osaka", value: "大阪府"}
          %span 大阪府

      %li.wakayama
        %button{type: :button, id: "wakayama", value: "和歌山県"}
          %span 和歌山県

      %li.tottori
        %button{type: :button, id: "tottori", value: "鳥取県"}
          %span 鳥取県

      %li.okayama
        %button{type: :button, id: "okayama", value: "岡山県"}
          %span 岡山県

      %li.shimane
        %button{type: :button, id: "shimane", value: "島根県"}
          %span 島根県

      %li.hiroshima
        %button{type: :button, id: "hiroshima", value: "広島県"}
          %span 広島県

      %li.yamaguchi
        %button{type: :button, id: "yamaguchi", value: "山口県"}
          %span 山口県

      %li.fukuoka
        %button{type: :button, id: "fukuoka", value: "福岡県"}
          %span 福岡県

      %li.oita
        %button{type: :button, id: "oita", value: "大分県"}
          %span 大分県

      %li.miyazaki
        %button{type: :button, id: "miyazaki", value: "宮崎県"}
          %span 宮崎県

      %li.saga
        %button{type: :button, id: "saga", value: "佐賀県"}
          %span 佐賀県

      %li.nagasaki
        %button{type: :button, id: "nagasaki", value: "長崎県"}
          %span 長崎県

      %li.kumamoto
        %button{type: :button, id: "kumamoto", value: "熊本県"}
          %span 熊本県

      %li.kagoshima
        %button{type: :button, id: "kagoshima", value: "鹿児島県"}
          %span 鹿児島県

      %li.okinawa
        %button{type: :button, id: "okinawa", value: "沖縄県"}
          %span 沖縄県

      %li.ehime
        %button{type: :button, id: "ehime", value: "愛媛県"}
          %span 愛媛県

      %li.kagawa
        %button{type: :button, id: "kagawa", value: "香川県"}
          %span 香川県

      %li.tokushima
        %button{type: :button, id: "tokushima", value: "徳島県"}
          %span 徳島県

      %li.kochi
        %button{type: :button, id: "kochi", value: "高知県"}
          %span 高知県

  .pref-info
  .return-to-root
    = link_to root_path do
      %label
        %button{type: :button, class: "root-btn"}
          %p 商品一覧へ
